#
# buildout.cfg utilisable pour mettre en place une instance de developpement
# Voir https://tucuxi.univ-brest.fr/issues/580 pour les détails
#

[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
package-name = 
    iuem.sequestre

parts+=
    omelette
    zopepy


[instance]
eggs += 
    Pillow
    plone.reload

# zcml-additional =
#   <configure xmlns="http://namespaces.zope.org/zope"
#              xmlns:db="http://namespaces.zope.org/db">
#       <include package="z3c.saconfig" file="meta.zcml" />
#       <db:engine name="annuaire_iuem" url="postgresql://hardy@localhost:5432/iuem" />
#       <db:session engine="annuaire_iuem" />
#   </configure>

[omelette]
recipe=collective.recipe.omelette
eggs=${instance:eggs}

[zopepy]
# installs a zopepy python interpreter that runs with your
# full Zope environment
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
