.typemachine-proposed-tag {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #205C90;
	color: white;
}

.typesecret-proposed-tag {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: #205C90;
	color: white;
}

.state-private {
    color: black !important;
}
